<h2>Create New Landmark</h2>

<!-- add content here -->

<form method = "POST" action = "/landmarks/new">
<p><label>Name:</label><input type = "text" id = "landmark_name" name = "landmark[name]"></p>
<p><label>Year Completed:</label><input type = "text" id = "landmark_year_completed" name = "landmark[year_completed]"></p>
<input type = "submit" id = "Create New Landmark" value = "Create New Landmark">
</form>


<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
